.detailbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numDiv {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color:lavender;
    width: 100%;
    height: 50px;
  }

  .numDiv > span {
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    margin: 5px;
  }
  
  .dt {
    font-size: large;
    font-weight: bold;
    color: blue;
  }